
<div class="container search-results">
  
  <h2>Policy Documents for {{ policy.insuredName }}</h2>
  <br />
  <table class="table mt-2">
    <accordion [isAnimated]="true">
      <accordion-group heading="Click to Expand">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Year</th>
            <th scope="col">Document Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of policy.documents">
            
            <td>{{el.month}}/{{el.year}}</td>
            <td>
              <a href="{{ el.url }}" target="_blank">{{ el.docType }}</a>
            </td>
          </tr>
        </tbody>
      </accordion-group>
    </accordion>
  </table>
</div>

<div class="container search-results">
  <h2>Claim Documents for {{ policy.insuredName }}</h2>
  <br />
  <table class="table mt-2">
    <accordion [isAnimated]="true">
      <accordion-group heading="Click to Expand">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Claim Number</th>
            <th scope="col">Date</th>
            <th scope="col">Document Type</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let el of policy.claims">
            <td>{{ el.claimId }}</td>
            <td>{{el.month}}/{{el.year}}</td>
            <td>
              <a href="{{ el.url }}" target="_blank">{{ el.docType }}</a>
            </td>
          </tr>
        </tbody>
      </accordion-group>
    </accordion>
  </table>
</div>
