.form-search {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.search-button {
  margin-top: 25px;
}

.search-button:disabled, button[disabled] {
  opacity: 1%;
}
.subdued {
  text-align: center;
  opacity: 50%;
}

.btn-secondary {
  background-color: green;
}


